
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head') %>
    </head>
    <body style="background:black; ">
        <header>
            
        </header>
        
        <main>
    
            <div style="margin: 0 0 5rem 25rem;">
                <%- include('./formulario') %>
            </div>
            
            <div style="margin: 0 0 5rem 25rem; ">
                <%- include('./enviosDelFormulario') %>
            </div>
    
            <div style="color: white ; margin: 0 0 5rem 25rem;" >
                <%- include('./webSocket') %>
            </div>
        </main>
            
        <footer>
        </footer>
    
        <script src="main.js"></script>
    </body>
</html>