

<h2 style="font-family: 'Times New Roman', Times, serif; color:aqua  " > Dejanos tu consulta </h2>

<form  onsubmit=" return agregarMensaje() " >

    <input type="email" id="email" placeholder="Ingresa tu Email" style="width: 41.5rem;" > 

    <div  style="width: 41.5rem;  margin-top: 0.5rem;">
        <textarea name="consulta" id="consulta" cols="87.5" rows="3" placeholder="Ingrese su consulta"  ></textarea>
        <div style="width: 41.3rem; height: 10rem; background: white; overflow: scroll;" id="message" ></div>
    </div>

    <button id="boton" type="submit"  >Enviar</button>
</form>
